<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>Object Detection Website</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel='stylesheet' href="../static/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<!-- === File Upload ===
Design a file upload element. Is it the loading screen and icon? A progress element? Are folders being uploaded by flying across the screen like Ghostbusters? ;)  
-->
<div id="content-main-body">

  <div id="lightMode-container">
    <a id="btn-lightMode" href="javascript:clickLightMode()">☀️</a>
  </div>

  <div class="title-container">

    <h2 id="title-center">Object Detection Website</h2>

    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
      
      <ul class="navbar-nav d-flex">
        <li id="nav-home" class="nav-item active">
          <a class="nav-link" href="javascript:clickHome();">Home</a>
        </li>
        <li id="nav-about" class="nav-item">
          <a class="nav-link" href="javascript:clickAbout();">About</a>
        </li>
      </ul>
    </nav>
  </div>
  
  

  <div class="about-container">
    <div id="readme"></div>
  </div>
  
  {% block content %}
  {% endblock %}

<!-- end content-main-body -->
</div>
<!-- partial -->
  <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/lib/bootstrap.min.js"></script>
  <script src="../static/js/lib/dropzone.min.js"></script>
  <script src="../static/js/lib/jquery.gh-readme.min.js"></script>
  <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
</body>
</html>
