{% extends "base.html" %}
{% block content %}
<div class="side-div-container">

    <div class="side-div">
        <div id="subheading">Detection Process</div>
        <!-- begin DRAG AND DROP AREA-->
        <div class="wrapper" >
            <div class="droparea upload">
                <p>Drag files here or  </p>
                <label class="upload__button" style="margin-bottom: 0.1rem; font-size: 1.15rem;">
                    <input type="file" id="clickUpload"/>Browse
                </label>
            </div>
        </div>
        <!-- end -->
    </div>

    <div class="side-div" > 
        <div id="subheading">Detection History</div>
        <!-- begin History-->
        <div class="card-container">
            <div class="card-col" id="card-col-id">
            </div>
        </div>
    </div>
        <!-- end -->
    </div>
</div>
{% endblock %}