{% extends "base.html" %}
{% block content %}
<div class="side-div-container">

    <div class="side-div">
        <div id="subheading">Detection Process</div>
        <!-- begin DRAG AND DROP AREA-->
        <div class="wrapper" >
            <div class="droparea upload">
                <p>Drag files here or  </p>
                <label class="upload__button" style="margin-bottom: 0.1rem; font-size: 1.15rem;">
                    <input type="file" id="clickUpload"/>Browse
                </label>
            </div>
            <div class="uploaded uploaded--one">
            <i class="far fa-file-image"></i>
            <div class="file">
                <div class="file__name">
                <p>limage file.jpg</p>
                <i class="fas fa-times"></i>
                </div>
                <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div>
            </div>
            </div>
        
        </div>
        <!-- end -->
    </div>

    <div class="side-div" > 
        <div id="subheading">Detection History</div>
        <!-- begin History-->
        <div class="card-container">
            <div class="card-col" id="card-col-id">
                
                <!-- <div class="card-body-nth">
                    <p class="card-text">Nothing to show</p>
                </div>
                
              <div class="card-body">
                <p class="card-text">Date: 2021-04-15, 22:38</p>
                <img class="card-img" src="http://placehold.it/416x416">
                <p class="card-text">   Class Label: School Bus </p>
              </div> -->
<!--               
              <div class="card-body">
                <p class="card-text">Date: 2021-04-15, 22:38</p>
                <img class="card-img" src="http://placehold.it/416x416">
                <p class="card-text">   Class Label: School Bus </p>
              </div>
              <div class="card-body">
                <p class="card-text">Date: 2021-04-15, 22:38</p>
                <img class="card-img" src="http://placehold.it/416x416">
                <p class="card-text">   Class Label: School Bus </p>
              </div>
              <div class="card-body">
                <p class="card-text">Date: 2021-04-15, 22:38</p>
                <img class="card-img" src="http://placehold.it/416x416">
                <p class="card-text">   Class Label: School Bus </p>
              </div>
              <div class="card-body">
                <p class="card-text">Date: 2021-04-15, 22:38</p>
                <img class="card-img" src="http://placehold.it/416x416">
                <p class="card-text">   Class Label: School Bus </p>
              </div>
           -->
            </div>
        </div>
    </div>
        <!-- end -->
    </div>
</div>
{% endblock %}