:root{
  --sideDiv-min-width: 300px;
  --sideDIv-margin: 15px;
  --ui-width : 415px;
  --ui-height: 370px;
  --img-size-multiplier: 0.70;
  --border-radius: 10px;
  
  --base-color: white;
  --accent-color: #0c3214;
  --text-color:black;

  --font-color:#0c3214;

  font-family: 'Montserrat', sans-serif;
  --box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
html, body {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: auto;

  background-image: url("../images/objectdetection.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
#content-main-body{
  width: 100%; 
  min-height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.062);
}

.dark-bg{
  background-color: rgba(50, 50, 50, 0.75) !important;
}

.dark-theme-panel{
  background-color: rgb(32, 32, 32) !important;
  color:#c7c7c7 !important;
}

#lightMode-container{
  margin: 3vh;
  float: right;
}

@media only screen and (max-width: 640px) {
  #lightMode-container {
    display: block;
    margin: 3vh auto;
    width: 3vh;
    float: none;
  }
}

#btn-lightMode{
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0);
  
}

#lightMode-container > a:hover{
  text-shadow: 0 0 20px #effa5e;
  opacity: 1;
  text-decoration: none;
}
#lightMode-container > a{
  opacity: 0.5;
  color:rgb(255, 255, 255);
}

.title-container{
  position: relative;
  margin: 3vh auto;

  min-width: 330px;

  width: 400px;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: var(--base-color);

  border-radius: 10px;
  vertical-align: top;
}
/* Title */
#title-center{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  text-align: center;
  color: var(--text-color);
}

#readme > p, h2,h4, strong, code, li, a{
  color: var(--text-color);
}
#readme > pre > code{
  color: var(--text-color);
}
.about-container{
  display: none;
  position: relative;
  margin: 3vh auto;

  min-width: 330px;
  width: 90%;
  max-width: calc(2* var(--ui-width));


  padding: 20px;
  box-shadow: var(--box-shadow);

  background-color: var(--base-color);
  border-radius: 10px;
  vertical-align: top;
}

#subheading{
  flex: 0 0 content;
  color: var(--font-color);
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  border-radius: 10px;
  margin: 3vh auto;

  background-color: rgba(218, 248, 224, 0.479); 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  backdrop-filter: blur(5px);
}

.side-div-container{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.side-div{

  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items:center;

  width:500px;
  height:auto;
}


/* Card */
.card-col{
  display: flex;
  height: 470px;
  width: 490px; 
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.card-bodyy{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  
  width: var(--ui-width);
  height: var(--ui-height);

  border-radius: var(--border-radius);
  margin: 2.4vh;
  background-color: var(--base-color); 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  backdrop-filter: blur(5px);
}

.card-body-nth{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  
  width: var(--ui-width);
  height: var(--ui-height);
  border-radius: var(--border-radius);
  margin: 2.4vh;
  background-color: rgba(255, 255, 255, 0.178); 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  backdrop-filter: blur(5px);
}
.card-img{
  width: calc(var(--img-size-multiplier)*416px);
  height: calc(var(--img-size-multiplier)*416px);
}
.cardd-text{
  margin: 0.4em;
  max-height: 1.5em;
  text-align: center;
  color:var(--text-color);
  overflow-y: auto;
}

.timeStamp{
  text-align: center;
  margin: 0.5em;
  color: var(--text-color);
}
/* === Wrapper Styles === */
#FileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  margin: 2.4vh;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 10px;
  background-color: var(--base-color);
  width: var(--ui-width);
  height: var(--ui-height);

  display: flex;
  align-items: center;
  justify-content: center
}

/* === Upload Box === */
.upload {
  margin: 10px;
  height: 90%;
  width: 90%;
  border: 4px dashed #e6f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.upload p {
  margin-top: 12px;
  line-height: 0;
  font-size: 22px;
  color: var(--text-color);
  letter-spacing: 1.5px;
}
.upload__button {
  background-color: #e6f5e9;
  border-radius: 10px;
  padding: 0px 8px 0px 10px;
}
.upload__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* === Uploaded Files === */
.uploaded {
  width: 375px;
  margin: 10px;
  background-color: #e6f5e9;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.file {
  display: flex;
  flex-direction: column;
}
.file__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 300px;
  line-height: 0;
  color: #0c3214;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.fa-times:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fa-file-image {
  padding: 15px;
  font-size: 40px;
  color: #0c3214;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(177, 177, 177, 0.514); 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(163, 163, 163, 0.363); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffffb7; 
}

input[type="file"] {
  display: none;
}

